<a href="https://colab.research.google.com/github/n00box/misc/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random((10,3)),
                  columns = ['A', 'B', 'C'])
df

          A         B         C
0  0.997941  0.213842  0.650253
1  0.013855  0.615582  0.471671
2  0.653855  0.052653  0.359371
3  0.132903  0.757952  0.129148
4  0.722783  0.239411  0.335805
5  0.254698  0.314886  0.793244
6  0.832399  0.361288  0.328401
7  0.816539  0.375668  0.495285
8  0.440451  0.933808  0.151143
9  0.201776  0.471568  0.235121

### update minimum value from start line to current line

In [ ]:
def _update_min(arr):
    mini = arr.min()  # get minimum value
    df['A'][arr.index[-1]] = mini  # update our dataframe
    return mini
df["A"].rolling(2, min_periods = 1).apply(_update_min)
df

copy `A` to `AA`, let us compare the difference!

In [ ]:
df = pd.DataFrame(np.random.random((10,3)),
                  columns = ['A', 'AA', 'C'])
df.AA = df.A
df["A"].rolling(2, min_periods = 1).apply(_update_min)
df

          A        AA         C
0  0.688780  0.688780  0.662090
1  0.184037  0.184037  0.225484
2  0.184037  0.923467  0.588305
3  0.184037  0.566634  0.350391
4  0.184037  0.282114  0.748894
5  0.184037  0.547784  0.725267
6  0.184037  0.665593  0.783036
7  0.002563  0.002563  0.309991
8  0.002563  0.501918  0.678730
9  0.002563  0.171937  0.934023

### get the last line's index, which matches the condition

In [ ]:
df = pd.DataFrame(np.random.random((10,3)),
                  columns = ['A', 'B', 'C'])
print(df)
def _get_last_index(arr):
  res = arr[arr>0.5].index  # get all index
  if len(res) == 0:  # if there's no matched result, give it nan!
    return np.nan
  return res[-1]
df["A"].rolling(len(df), min_periods = 1).apply(_get_last_index)

          A         B         C
0  0.236149  0.698331  0.970960
1  0.680764  0.338697  0.740556
2  0.616341  0.606023  0.194826
3  0.039999  0.790630  0.778946
4  0.385915  0.199661  0.714442
5  0.650796  0.208950  0.252283
6  0.240118  0.209454  0.851856
7  0.805364  0.739046  0.066095
8  0.971759  0.759131  0.147742
9  0.492559  0.913851  0.993475

0    NaN
1    1.0
2    2.0
3    2.0
4    2.0
5    5.0
6    5.0
7    7.0
8    8.0
9    8.0
Name: A, dtype: float64

2. use `ffill()` to replace `nan`

In [ ]:
df.index.to_series().where(df['A'].gt(0.5)).ffill()

0    NaN
1    1.0
2    2.0
3    2.0
4    2.0
5    5.0
6    5.0
7    7.0
8    8.0
9    8.0
dtype: float64