<a href="https://colab.research.google.com/github/n00box/misc/blob/main/notebooks/df_update_min.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random((10,3)),
                  columns = ['A', 'B', 'C'])
print(df)
def _update_min(arr):
    mini = arr.min()  # get minimum value
    df['A'][arr.index[-1]] = mini  # update our dataframe
    return mini
df["A"].rolling(2, min_periods = 1).apply(_update_min)
df

          A         B         C
0  0.707619  0.332096  0.948859
1  0.961542  0.751652  0.433713
2  0.361964  0.335340  0.727689
3  0.174717  0.064455  0.762168
4  0.013382  0.361671  0.666426
5  0.830054  0.061296  0.576312
6  0.208487  0.550164  0.711647
7  0.573855  0.255932  0.520753
8  0.309002  0.670113  0.509674
9  0.120855  0.147121  0.650826

          A         B         C
0  0.707619  0.332096  0.948859
1  0.707619  0.751652  0.433713
2  0.361964  0.335340  0.727689
3  0.174717  0.064455  0.762168
4  0.013382  0.361671  0.666426
5  0.013382  0.061296  0.576312
6  0.013382  0.550164  0.711647
7  0.013382  0.255932  0.520753
8  0.013382  0.670113  0.509674
9  0.013382  0.147121  0.650826

In [15]:
df = pd.DataFrame(np.random.random((10,3)),
                  columns = ['A', 'AA', 'C'])
df.AA = df.A
df["A"].rolling(2, min_periods = 1).apply(_update_min)
df

          A        AA         C
0  0.688780  0.688780  0.662090
1  0.184037  0.184037  0.225484
2  0.184037  0.923467  0.588305
3  0.184037  0.566634  0.350391
4  0.184037  0.282114  0.748894
5  0.184037  0.547784  0.725267
6  0.184037  0.665593  0.783036
7  0.002563  0.002563  0.309991
8  0.002563  0.501918  0.678730
9  0.002563  0.171937  0.934023